{% extends 'base.html' %}

<!-- 메인(프론트) 페이지 파트 -->
<!-- 공사 중 : 현재 테스트용 메인 페이지 -->

<!-- static 로드 -->
{% load static %} 

{% block title %}MainPage{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
{% endblock %}

{% block startscript %}
<script src="{% static 'js/test.js' %}"></script>
{% endblock %}

{% block content %}
<div id="main-wrapper">
    <img id="scs" src="{% static 'img/scs.png' %}">
    <h1 id="text">Django 개발 환경 세팅 및 정상화 완료</h1>
</div>
{% endblock %}

{% block endscript %}
<script src="{% static 'js/mainPage.js' %}"></script>
{% endblock %}