<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Trends</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
</head>
<body>
    <div class="video-container">
        <iframe  id="backgroundVideo" class="background-video" src="https://www.youtube.com/embed/gdZLi9oWNZg?autoplay=1&mute=1&loop=1&si=nGFJ4mqBcx_Bl6" frameborder="0" allow="autoplay; fullscreen"></iframe>
    </div>
    <div id="main-wrapper">
        <div id="vertical-effect">
            <div id="main-desc">
                Check Trends.<br>
                Compare Predictions.
            </div>
        </div>
        <div id="horizental-effect">
            <div id="main-title">Music<br>Trends</div>
            <div id="link-btn">바로가기 ➧</div>
        </div>
    </div>
    <script src="{% static 'js/mainPage.js' %}"></script>
</body>
</html>
