{% extends 'base.html' %}

<!-- static 로드 -->
{% load static %}

{% block title %}TOP 200{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/chartlist/chartlist.css' %}">
{% endblock %}

{% block startscript %}
{% endblock %}

{% block content %}
<div id="loading-overlay"></div> <!-- 민트색 배경 추가 -->
<!-- 전체 화면을 덮는 이미지 오버레이 -->
<div id="intro-overlay">
    <div id="loading-text">L O A D I N G ......</div>
</div>

<div id="main-wrapper">
    <h1>Circle Chart TOP 200</h1>
    <div id="date-container">
        <!-- 왼쪽 화살표 (일주일 전) -->
        <span class="date-arrow" id="prev-week">&#8592;</span> <!-- ← (왼쪽 화살표) -->
    
        <!-- 날짜 라벨 -->
        <div id="date-label">{{year}}년 {{month}}월 {{day}}일 기준</div>
    
        <!-- 오른쪽 화살표 (일주일 후) -->
        <span class="date-arrow" id="next-week">&#8594;</span> <!-- → (오른쪽 화살표) -->
    
        <!-- 날짜 선택 입력 -->
        <span class="date-calendar-toggle">
            <span class="date-calendar-toggle-button"></span>
            <input type="date" id="date-calendar-input">
        </span>
    </div>
    <div id="table-wrapper">
        <table id="chart_table">
            <thead>
                <tr>
                    <th id="rank-header">Rank</th>
                    <th id="title-header">Title</th>
                    <th id="artist-header">Artist</th>
                </tr>
            </thead>
            <tbody>
                {% for row in chart_data %}
                    <tr class="chart-content" onclick="location.href = '/chartlist/{{date}}/{{row.Week_Rank}}';">
                        <td>
                            {{row.Week_Rank}}
                        </td>
                        <td>
                            {{row.Title}}
                        </td>
                        <td>
                            {{row.Artist}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="top-btn">
    TOP
</div>
{% endblock %}

{% block endscript %}
<script src="{% static 'js/chartlist/chartlist.js' %}"></script> <!-- 스크립트 파일 로드-->
{% endblock %}
