{% extends 'base.html' %}

{% load static %} 

{% block title %}Song{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/chartlist/chartsong.css' %}">
{% endblock %}


{% block startscript %}
<!-- Chart.JS 라이브러리 외부 로드 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div id="content-wrapper">
    <div id="title-wrapper">
        <div id="song-title">{{title}}</div>
        <div id="song-artist">{{artist}}</div>
        <div id="song-production">{{production}}</div>
    </div>
    <div id="info-wrapper">
        <div>
            <div class="info-label">장르</div>
            <div class="info-value">{{genre}}</div>
        </div>
        <div>
            <div class="info-label">곡 길이</div>
            <div class="info-value">{{runtime}}</div>
        </div>
    </div>
    <div id="rank-date">{{year}}년 {{month}}월 {{day}}일 기준</div>
    <!-- 곡 정보를 테이블로 출력 -->
    {% if chart_length <= 1 %} <!-- 이전 주차 랭킹 데이터가 없다면 새로 발매된 곡이라는 의미이므로 차트와 예측 순위를 출력하지 않음 -->
    <div id="new-song-wrapper">
        <h1>New Song!</h1>
        <h3>해당 주에 발매된 신곡 또는 역주행 곡입니다.</h3>
    </div>
    {% else %}
    <div id="chart-wrapper">
        <canvas id="chart"></canvas> <!-- 현재 곡의 역대 랭킹 그래프 출력 태그 -->
    </div>
    {% endif %}
    <div id="rank-num-wrapper">
        <div class="rank-num">
            <div class="rank-label">실제 랭킹</div>
            <div class="rank-value">
                <div id="real-rank">{{rank}}</div>
            </div>
        </div>
        {% if chart_length > 1 %}
        <div class="rank-num">
            <div class="rank-label">예측 랭킹</div>
            <div class="rank-value">
                <div id="predicted-rank">{{predicted_rank}}</div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if 1 < chart_length and chart_length < 4 %} <!-- 과거 랭킹 데이터가 3개 이하이면 예측 성능 문제 경고를 출력 -->
        <h3 id="accuracy-warning">⚠ 예측 정확도가 낮을 수 있습니다.</h3>
    {% endif %}
    <div id="list-btn-wrapper">
        <div id="list-btn">목록으로</div>
    </div>
</div>
{% endblock %}

{% block endscript %}
<script>
    // ======================== Chart 생성하는 스크립트 ========================
    // 이전 랭킹 데이터 배열(JSON 형식)을 JS 변수로 선언
    const prevRanks = JSON.parse('{{ prev_rank_list|safe }}');
    // 랭킹 데이터와 매칭되는 날짜 문자열 배열(JSON 형식)을 JS 변수로 선언
    const prevDates = JSON.parse('{{ prev_date_list|safe }}');
    // 전 주 랭킹과 현재 주 모델의 예측 랭킹이 저장된 배열(JSON 형식)을 JS 변수로 선언
    const predictedRanks = JSON.parse('{{ predicted_rank_list|safe }}');
    
    const data = {
        // x축 라벨(텍스트)는 해당하는 날짜 문자열로 지정
        labels: prevDates, 
        // 데이터셋 목록 설정
        datasets: [
            {   
                // 첫번째 그래프는 곡의 현재 날짜까지의 역대 랭킹을 선으로 표현
                label: '주간 차트 순위', // 데이터 라벨(텍스트) 설정
                data: prevRanks, // 그래프에 실제 랭킹 입력
                borderColor: 'red' // 실제 데이터는 빨간색 선
            },
            {   
                // 두번째 그래프는 곡의 1주 전 실제 랭킹과 예측 랭킹을 선으로 표현
                label: '예측 차트 순위', // 데이터 라벨(텍스트) 설정
                data: predictedRanks, // 그래프에 예측값 입력
                borderColor: 'orange', // 예측 데이터는 주황색 선
                borderDash: [5, 5], // 예측 데이터를 점선으로 표현
            }
        ]
    };

    // 차트 객체 생성 및 HTML 태그(canvas 태그)에 적용
    const ctx = new Chart(
        document.getElementById('chart'), // 차트를 그릴 canvas 태그를 태그 ID명을 통해 지정 지정
        {
            type: 'line', // 차트 종류(선형 그래프, 막대 그래프 등) 설정
            data: data, // 차트에 넣을 데이터 객체 입력
            options: { // 차트 옵션
                responsive: true, // 반응형 차트 설정
                maintainAspectRatio: false, // false 해두지 않으면 차트 크기가 한번 작아지면 다시 커지지 않는 현상 발생
                plugins: { 
                    title: { // 차트 타이틀 설정
                        display: true,
                        text: '주간 랭크 추이 및 예측'
                    },
                },
                interaction: {
                    intersect: false, // false로 해놓으면 마우스가 정확한 위치에 있지 않아도 차트 정보를 적절하게 출력
                },
                scales: { // 차트 축 설정
                    x: { // x축 설정
                        display: true,
                        title: {
                            display: true,
                            text: '주'
                        }
                    }, // y축 설정
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: '순위'
                        },
                        min: {{min_rank}}, // 곡의 랭킹 추이에 맞게 그래프 범위를 적당하게 설정
                        max: {{max_rank}},
                        reverse: true, // 기본 세팅은 아래쪽이 작은 값, 위쪽이 큰 값인데 우리는 순위 데이터를 사용하니 반대로 설정
                    }
                }
            },
        }
    );

    // 로고 클릭하면 메인페이지로 이동
    document.getElementById('list-btn').addEventListener("click", (e) => {
        location.href = '/chartlist/{{date}}';
    });

</script>
{% endblock %}