#content-wrapper {
    text-align: center;
    padding: 0 10%;
}

#title-wrapper {
    margin-top: 30px;
    padding: 0 10%;
}
#title-wrapper > div {
    padding: 0 10px;
    text-align: left;
    transition: .3s;
    transition-property: transform, text-shadow;
}
#title-wrapper > div:hover {
    transform: scale(1.05);
    text-shadow: 0px 0px 15px lightskyblue;
    transition: .3s;
}
#song-title {
    font-weight: "suite-eb";
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 10px;
}
#song-artist {
    margin-top: 20px;
    font-weight: "suite-b";
    font-size: 30px;
    font-weight: bold;
}
#song-production {
    margin: 5px 0;
    font-weight: "suite";
    font-size: 20px;
}

#info-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
}

#info-wrapper > div {
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
    flex: 1;
}
#info-wrapper > div:first-child {
    border-right: gray 1px solid;
}

.info-label {
    background-color: lightgray;
    color: #444;
    padding: 10px 0;
    font-size: 20px;
    transition: color .3s ease;
}
.info-label:hover {
    color: #000;
    font-weight: bold;
    transition: color .3s ease;
}
.info-value {
    margin: 20px 0;
    font-weight: bold;
    font-size: 30px;
    transition: .3s;
    transition-property: transform, text-shadow;
}
.info-value:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 15px lightskyblue;
    transition: .3s;
}

#new-song-wrapper {
    margin: 30px 0;
    padding: 0 10px;
}

#new-song-wrapper > h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px orange;
}

#chart-wrapper {
    width:80%; 
    padding-left: 10%; 
}
#chart-wrapper canvas {
    width: 100%;
}

#rank-wrapper {
    margin-top: 30px;
}

#rank-date {
    margin-top: 30px;
    padding: 0 10%;
    font-family: "suite-b";
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: #444;
    transition: color .3s ease;
}
#rank-date:hover {
    color: black;
    transition: color .3s ease;
}

#rank-num-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    padding: 0 10%;
}
.rank-num {
    flex: 1;
}

.rank-label {
    margin-top: 30px;
    font-family: "suite-eb";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.rank-value {
    display: flex;
    justify-content: center;
}

#real-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: red;
    color: white;
    font-family: "suite-eb";
    font-weight: bolder;
    font-size: 50px;
    transition: .3s;
    transition-property: transform, box-shadow;
}

#real-rank:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px red;
    transition: .3s;
}

#predicted-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background-color: orange;
    color: white;
    font-family: "suite-eb";
    font-weight: bolder;
    font-size: 50px;
    transition: .3s;
    transition-property: transform, box-shadow;
}

#predicted-rank:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px orange;
    transition: .3s;
}

#accuracy-warning {
    font-size: 30px;
    color: orange;
}

#list-btn-wrapper {
    margin: 0 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list-btn {
    margin: 40px 0;
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: "suite-b";
    transition: .3s;
    transition-property: box-shadow, transform;
}
#list-btn:hover {
    transform: scale(1.05);
   box-shadow:  0 4px 15px gray;
   transition: .3s;
}

@media (max-width: 800px) {
    #info-wrapper {
        flex-direction: column;
    }
    #info-wrapper > div:first-child {
        border-right: none;
    }
    #rank-num-wrapper {
        flex-direction: column;
    }
}